@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  html {
    font-family: "Cairo", sans-serif;
  }
}

/* RTL Layout Fixes */
[dir="rtl"] .ml-auto {
  margin-right: auto;
  margin-left: 0;
}

[dir="rtl"] .mr-auto {
  margin-left: auto;
  margin-right: 0;
}
